<table class="table table-striped table-bordered table-sm">
    <thead>
        <tr>
        {% for field in resourceParameters.fields %}
            <th>{{ field.label|trans }}</th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for resource in resourceCollection %}
        <tr>
        {% for field in resourceParameters.fields %}
            <td>
                {% include [
                    '@Rhapsody/resource/field/'~field.type.name~'.html.twig',
                    '@Rhapsody/resource/field/_default.html.twig'
                ] with { field: field, resource: resource } only %}
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
